<div class="book-detail">
  <h1 class="page-header">{{book.title}}</h1>
  <h3 class="tag-line">{{book.tagLine}}</h3>
  <div class="row book-content">
    <img src={{book.image}} alt={{book.title}} class="col-xs-6"/>
    <div class="col-xs-6">
      <h2>By {{book.author}}</h2>
      <h4>{{book.description}}</h4>
    </div>
  </div>
</div>

<br>
<br>
<hr class="hr-reviews">
