{{#if addNewReviewForm}}
  <div class="new-review">
    <form class="form-group">
      <h2>Create a New Review</h2>
      <div class="row">
        <div class="col-xs-6">
          <label>Username</label>
          {{input required value=username id="username" class="form-control"}}
        </div>
        <div class="col-xs-6">
          <label>Date</label>
          {{input required value=date id="date" class="form-control" type="date"}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label>Profil Picture URL</label>
          {{input required value=profilePicture id="profilePicture" class="form-control"}}
        </div>
        <div class="col-xs-6">
          <label>Rating (1-5)</label>
          {{input required value=rating id="rating" class="form-control" type="number"}}
        </div>
      </div>
      <div>
        <label>Review Content</label>
        {{textarea required value=reviewContent id="reviewContent" class="form-control"}}
      </div>
      <button {{action "saveNewReview"}} class="btn btn-success page-end">Save</button>
    </form>
  </div>
{{else}}
  <button {{action "showNewReviewForm"}} class="btn btn-primary page-end">Add New Review</button>
{{/if}}
